@charset "utf-8";
/* CSS Document */
/*Overall*/
body{
	margin: 0;
	min-height: 100vh;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:12px;
	background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.08'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");	
}
#container{margin:0 auto;background:#fbfbf9;border:solid 1px #FFF;width:900px; }
h2{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#003333;font-weight:bold;padding:5px 0; border-bottom:solid 1px #666;margin:10px;text-transform:uppercase;}
h1{font-family:Arial, Helvetica, sans-serif;font-size:25px;color:#4A5A3D;font-weight:normal;margin:22px 0px 10px 10px;text-transform:uppercase;}
p{margin:10px 10px 20px 10px;line-height:16px;text-align:justify;}
.image{border:#CCCCCC solid 1px;float:left;padding:5px;margin:10px 10px 5px;}
.clearfix:after {content: ".";display: block;height:1px;clear: both;visibility: hidden;}
/* Esconde de IE-mac \*/
* html .clearfix {height: 1px;}
.clearfix {display: block;}
/* Fin esconde de IE-mac */

.quote-container {
	width: auto;
	max-width: 880px;
	padding: 20px 30px;
	border-radius: 10px;
	background:#efefef;
	box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
	margin:0 0 15px 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 700;
	color: rgb(0,0,0);
}

.quote-text {
	font-size: 1.2rem;
	display: flex;
	font-weight: 500;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.long-quote {
	font-size: 1.rem;
}

.fa-quote-left {
	font-size: 0.8rem;
}

.fa-quote-right {
	font-size: 0.8rem;
}

.quote-author {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	text-align: right;
}

.buttom-contrainer {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

button {
	cursor: pointer;
	font-size: 0.8rem;
	height: 2.5 rem;
	border: none;
	border-radius: 10px;
	color:#fff;
	background: #333;
	outline: none;
	padding: 0.5rem 1.8rem;
	box-shadow: 0 0.2rem rgba(121, 121, 121, 0.65);
}

button:hover {
	filter: brightness(110%);
}

button:active {
	transform: translate(0, 0.2rem);
	box-shadow: 0 0.05rem rgba(255, 255, 255, 0.65);
}

/*bar top*/
#top{margin:15px 10px;background:#efefef;width:880px;min-height:145px;float:left;}
#menu{margin:5px 0 0 4px;}
#menu ul {list-style:none;padding:0;margin:0;}
#menu li {margin:0 5px 0 0;float:left;width:103px;background:#F7F7F7;text-align:center;border:1px solid #CCCCCC;}
#menu li:hover{background:#999999  0 -32px;}
#menu li a {voice-family: "\"}\"";voice-family:inherit;text-decoration:none;padding:3px 0 3px 0; text-transform:uppercase;font-size:9px;}		
#menu li a:link, #menu li a:visited{color:#4A5A3D;display:block;}	
#menu li a:hover{color:#FFF;}
#menu li span {padding:0;font-size:12px;}

/*Left Column*/
#column-left{margin:0 0 0 10px;width:880px;min-height:200px;float:left;}
.left{float:left;width:880px;padding:5px 0;background:#F7F7F7;border:#CCCCCC 1px solid; margin:0 0 15px 0;}

/*down top*/
#down{margin:10px;padding:10px 0;border:1px #CCC solid;width:900px;color:#333333;text-align:center;background:#efefef;float:left;}
#down a{color:#333333;text-decoration:none;line-height:20px;}
#down a:hover{color:#4A5A3D;text-decoration:underline;}
